.container {
    max-width: 800px;
    margin: 0 auto;
}

.mat-headline {
    text-align: center;
}

.ip-form, .ip-added {
    margin-bottom:2em;
}

.ip-form {
    text-align: center;
}

.ip-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    mat-form-field {
        width: 300px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}