<div *ngIf="!email">
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" ngModel required>
    </div>
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" ngModel required>
    </div>
    <div>
      <button type="submit" [disabled]="form.invalid">Connexion</button>
    </div>
  </form>  

  <div>
    <div id="g_id_onload" attr.data-client_id="{{clientID}}"
      data-callback="handleCredentialResponse" data-auto_prompt="false"></div>

    <div class="g_id_signin" data-type="standard">
    </div>
  </div>

  <nav>
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Inscription</a>
  </nav>
</div>

<div *ngIf="email">
  <div>Vous êtes déjà connecté !</div>
</div>
